body {
  font-family: Arial;
  background-color:#1b1b32;
  color: white;
  text-align: center;
}

h1 {
  font-size: 50px
}

fieldset, p {
  margin: auto;
  width: 300px;
}

input, textarea, select, button {
  display: block;
  background-color: #1b1b2b;
  font-size: 110%;
  color: white;
  margin: auto;
  width: 100%
}

button {
  border-color: white;
  width: 328px
}

input[type="radio"], input[type="checkbox"] {
  display: inline;
  width: 20px
}
